@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Staatliches, sans-serif;
}

.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.breadcrumb .breadcrumb__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
}

.breadcrumb .breadcrumb__list .breadcrumb__item {
  margin: 0 20px;
}

.breadcrumb .breadcrumb__list .breadcrumb__item .breadcrumb__link {
  font-size: 2rem;
  text-decoration: none;
}

.breadcrumb .breadcrumb__list .breadcrumb__item .breadcrumb__link:hover {
  color: green;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-decoration: none;
  margin: 10vh;
}

.button span {
  margin: 10px 20px;
  text-decoration: none;
  background-color: Magenta;
  /* Magenta */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}

.button span:hover {
  background-color: green;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.card__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card__section .card__item {
  width: 29%;
  margin-right: 3.5%;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}

.card__section .card__item .card__aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card__section .card__item .card__aside .card__figure {
  width: 100%;
}

.card__section .card__item .card__aside .card__figure img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.card__section .card__item .card__footer .card__actions .card__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-decoration: none;
  margin: 1vh;
  cursor: pointer;
}

.list {
  text-align: center;
  margin: 0 auto;
  width: fit-content;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  font-size: 2rem;
}

.list .list__item .list__item--second {
  margin-left: 15px;
  color: purple;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: purple;
  font-family: 'Staatliches';
  color: white;
  margin: 10px 0;
}

.checkbox .checkbox__body {
  margin: 5vh 20px;
  font-size: 2rem;
}

.checkbox .checkbox__body .checkbox__help a {
  color: green;
  text-decoration: none;
}

.checkbox .checkbox__body .checkbox__help a:hover {
  color: black;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  text-decoration: none;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 5%;
          column-gap: 5%;
}

.grid .item {
  width: 30%;
  background-color: blue;
  color: #fff;
  text-align: center;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal .modal__main {
  margin: auto;
  padding: 10px;
}

.container {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .box-1 {
  width: 120px;
  height: 120px;
  background-color: skyblue;
  border: 2px solid black;
  margin: auto;
}

.js-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 25vh;
}

.js-container .btn-js {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  padding: 15px 32px;
  font-size: 1.25rem;
  background-color: teal;
  color: #fff;
}

.js-container #demo {
  font-size: 6rem;
}

@media only screen and (max-width: 700px) {
  .js-container {
    height: auto;
  }
  .js-container .js-container #demo {
    font-size: 4rem;
    text-align: center;
    padding: 20px;
  }
}

@media only screen and (max-width: 700px) and (max-width: 600px) {
  .card__section .card__item {
    width: 65%;
    padding: 2vh;
  }
  .checkbox {
    padding: 10px;
  }
  .checkbox .checkbox__body {
    font-size: 1.5rem;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
  }
}
/*# sourceMappingURL=styles.css.map */